<nav class="navbar navbar-light bg-light sticky-top">
    <div class="d-flex justify-content-between align-items-center logo" style="padding-left: 7%; ">
        <div class="avatar" style="margin-right: 10px;">
            VK
        </div>
        <a class="navbar-brand fs-4" style="font-weight: 500; color: #4F4D73;;">Venkat Kandipalli</a>
    </div>
    <form class="form-inline">
        <ul class="d-flex flex-row gap-5 navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 17px;">
            <li class="nav-item">
                <a class="nav-link active"  aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="assets/Venkat Resume.pdf" style="text-decoration: none;"
                    target="_blank">Resume</a>
            </li>
        </ul>
    </form>
</nav>
<section>
    <div class="">
        <div class="portfolio-container">
            <div class="profile-section slide-in">
                <img src="assets/Venkat (2).jpg" alt="Profile" class="profile-pic" />
            </div>
            <div class="intro-section">
                <!-- <h3 class="fade-in">Hi</h3> -->
                <h1 class="fade-in slide-in1">Hi, I'm <span>Venkat</span>, a Frontend Developer</h1>
                <h5 class="fade-in slide-in1">"I love to work on projects and learn new technologies. I have a good understanding
                    of HTML, CSS, JavaScript, and Angular."</h5>
                <div class="action-buttons slide-in1">
                    <button class="btn contact-me "> <i class="fa-regular fa-message "></i> <a href="#contact"
                            style="text-decoration: none; color: #fff;">Contact Me</a> </button>
                    <button class="btn view-projects "> <i  class="fas fa-rocket"></i><a href="#projects"  
                        style="text-decoration: none; color: #318AF7;">View Projects</a></button>
                </div>
                <div class="fa-solid fa1" style="margin-top: 20%; margin-left: 15%; font-size: larger;">
                    <mat-icon >auto_awesome</mat-icon>
                    
                </div>
            </div>

        </div>

    </div>

</section>

<section class="text-center" style="padding:5% ;">
    <h5>"It always seems impossible until it's done."</h5>
    <h5>- Nelson Mandela</h5>
</section>
<section class="technical-skills text-center">
    <h4 class="text-center  fs-1" style="color: #4F4D73; font-weight: 600;">Technical Expertise</h4>
    <div class="row slide-in" style="margin-top: 3% !important; margin: 2%;">
        <div class="col-lg-3">
            <mat-card class="example-card" appearance="outlined"
                style="padding: 1%; padding-bottom: 11%; text-align:left;">
                <mat-card-header>
                    <i class="fa-solid fa-globe fs-4" ></i>
                </mat-card-header>
                <mat-card-content>
                    <h4>Frontend Development</h4>
                    <p style="color: #697565;">HTML, CSS, Angular, React </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3">
            <mat-card class="example-card" appearance="outlined"
                style="padding: 1%; padding-bottom: 16%; text-align:left;">
                <mat-card-header>
                    <i class="fa-solid fa-code fs-4" ></i>
                </mat-card-header>
                <mat-card-content>
                    <h4>Programming Languages</h4>
                    <p style="color: #697565;">Python, JavaScript, TypeScript, C </p>
                </mat-card-content>
                <mat-card-footer class="example-card-footer">
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-lg-3">
            <mat-card class="example-card" appearance="outlined"
                style="padding: 1%; padding-bottom: 16%; text-align:left;">
                <mat-card-header>
                    <i class="fa-solid fa-database fs-4" ></i>
                </mat-card-header>
                <mat-card-content>
                    <h4>Database Management</h4>
                    <p style="color: #697565;">SQL, MongoDB </p>
                </mat-card-content>
                <mat-card-footer class="example-card-footer">
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-lg-3">
            <mat-card class="example-card" appearance="outlined"
                style="padding: 1%; padding-bottom: 25%; text-align:left;">
                <mat-card-header>
                    <i class="fa-solid fa-laptop-code fs-4" style=" padding-bottom: 7% !important;"></i>
                </mat-card-header>
                <mat-card-content>
                    <h4>Visual Design</h4>
                    <p style="color: #697565;">Figma </p>
                </mat-card-content>
                <mat-card-footer class="example-card-footer">
                </mat-card-footer>
            </mat-card>
        </div>

    </div>
</section>
<section class="projects" id="projects">
    <!-- <div class="" >
        <h2 class="text-center mt-5 fs-1" style="color: #FD5E31; font-weight: 600;" id="projects">Current Projects</h2>
        <div class="card current-project" style="width: 80%; max-width: 30rem; ">
            <img src="assets/erp.jpg" width="100%" height="250vh" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="color: #FD5E31;">ERP Application</h5>
                <p class="card-text">
                    A modern full-stack e-commerce application with secure authentication, responsive design, and seamless product, cart, and order management.
                </p>
                <div class="d-flex  flex-wrap align-items-center" style="gap: 10px;">
                    <p>Angular</p>
                    <p>TypeScript</p>
                    <p>Bootstrap</p>
                    <p>Angular Material</p>
                    <p>SQL</p>
                  </div>
              <a href="https://github.com/kvenkat04/" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            </div>
          </div>
    </div> -->
    <h2 class="text-center mt-5 fs-1" style="color: #4F4D73; font-weight: 600;">Past Projects</h2>
    <div class="row" style="margin: 4% 8%">
        <div class="col-md-6">
            <div class="card" style="width: 100%; max-width: 32rem;">
                <img src="assets/car.jpg" width="100%" height="250vh" class="card-img-top" alt="Car Image">
                <div class="card-body">
                  <h5 class="card-title" style="color: #4F4D73;">Car Buying and Selling App</h5>
                  <p class="card-text" style="color: #605E79;">
                    This is a responsive web application for buying and selling cars, built with Angular. 
                    It features car listings, detailed views, and a seamless user experience
                  </p>
                  <div class="d-flex  flex-wrap align-items-center" style="gap: 10px;">
                    <p >Angular</p>
                    <p>TypeScript</p>
                    <p>Bootstrap</p>
                    <p>SQL</p>
                  </div>
                  <a href="#" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                </div>
              </div>
              
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 100%; max-width: 32rem; ">
                <img src="assets/restaurant.jpg" width="100%" height="250vh" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: #4F4D73;">Restaurant Management App</h5>
                    <p class="card-text" style="color: #605E79;">

                        A comprehensive application for managing restaurant operations, including table reservations, order processing, and billing.
                         Built with Angular.
                    </p>
                    <div class="d-flex  flex-wrap align-items-center" style="gap: 10px;">
                        <p>Angular</p>
                        <p>TypeScript</p>
                        <p>Bootstrap</p>
                        <p>Angular Material</p>
                      </div>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  <a href="#" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                </div>
              </div>
        </div>
    </div>
    <div>

    </div>
</section>
<section class="professional-roles">
    <h2 class="text-center mt-5 fs-1" style="color: #4F4D73; font-weight: 600;">Professional Roles</h2>
    <div class="roles slide-in" >
        <h3>Frontend Developer</h3>
        <ul>
            <li><b>Frontend Application Development:</b> Designed and developed dynamic web applications using Angular framework.Built reusable components <br> and modules to enhance development efficiency and maintainability.</li>
            <li> <b>Responsive UI/UX Design:</b> Implemented responsive designs to ensure seamless user experience across devices using  CSS, Bootstrap, and <br>Angular Material.Collaborated with designers to translate UI/UX wireframes into interactive interfaces.</li>
            <li><b>State Management:</b>Managed application state effectively using Angular services, RxJS, and observables. Utilized Angular's dependency injection <br> for scalable and maintainable architecture.</li>
            <li><b>API Integration:</b>Integrated RESTful APIs for dynamic content rendering and data manipulation in Angular applications. <br></li>
            <li><b>Testing and Debugging:</b> Developed and executed test cases to ensure application functionality and performance. Debugged and optimized <br> code to enhance user experience and reduce errors.</li>
        </ul>
    </div>
</section>
<section class="certificates-container">
    <h2 class="text-center  fs-1" style="color: #4F4D73; font-weight: 600; padding-top: 1%;">Certifications</h2>
    <div class="roles">
        <h4 >Certificates</h4>
        <ul>
            <li>HTML from Great learning</li>
            <li>CSS from Great learning</li>
            <li>SQL from Great learning</li>
            <li>Python from Great learning</li>
        </ul>
    </div>
</section>
<section>
    <div class="footer text-center" id="contact">
        <h3>Let's Connect</h3>
        <div class="social-links">
            <a href="https://github.com/kvenkat04/" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/kvenkat-developer/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="mailto:venkatkandipalli93@gmail.com">
                <i class="fas fa-envelope"></i>
            </a>
        </div>
        <h5>In this world where you could be anywhere, thanks for being here.</h5>
    </div>
</section>